body *{
    font-family: "Arial Black", Arial, Tahoma, sans-serif,serif;
}

.main{
    text-align: center;
    margin-top: 12%;
}
input{
    margin: 15px;

}
#url{
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border: 0;
    border-bottom: 2px solid black;
}
#url:focus{
    outline: 0;
}
[type="submit"]{
    outline: 0;
    width: 150px;
    height: 50px;
    border: 0;
    box-shadow: 0  3px 3px rgba(0,0,0,0.3);
}
[type="submit"]:hover{

    color: gray;
}